*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bg: #E5E7EB;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}